/* 
mörkast grön #101f17
mörkgrön #2c6e49
ljusgrön #4c956c
beige #fefee3
rosa #ffc9b9
brun #d68c45 */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body {
    color: #101f17;
}

h1 {
    font-size: 3em;  
}

h2 {
    font-size: 1.8em;
    padding-bottom: .63em;
}

a {
    text-decoration: none;
    color: #101f17;
}

/* .border {
    border: 1px solid red;
} */

header {         
    background: linear-gradient(146deg, rgba(76,149,108,1) 0%, rgba(76,149,108,1) 65%, rgba(83,180,125,1) 100%);    
}

nav {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 7px;
    position: sticky;
    top:0px;
    font-weight: 500;
    opacity: .9;
}

.topbar {
    margin:auto;
    padding: .625em 1.875em;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;

}

.flex {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

input {
    padding: .4rem;
    border-radius: 1rem;
    border: 0;
}



nav div > * {
    display: flex;
    list-style: none;
    font-size: 16px;
}

nav div ul li {
    padding:0.5rem 1rem;   
    border: 1.5px solid #101f17;
    border-radius: 2rem;
}


nav div ul li:hover {
    scale: .98;
    transition: 100ms;
}
nav div ul li:not(:first-child) {
    margin-left: 1rem;
}

nav div ul li:last-child {
    margin-right: 1rem;
}

main {
    padding-bottom: 3.75em;
}

#ital {
    background-image: url(./resources/01-rasta-ital-cooking_4x3.webp);
    background-size: 1500px;
    background-size: 94em;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 21.875em;
    color: white;
    text-align: center;
    margin-bottom: 3.75em;
}

#ital h1 {
    font-size: 4em;
    font-family: 'Pacifico', cursive;
}

#ital input {
    padding: 1rem;
    border-radius: 2rem;
    width: 24em;
}

.wrapper {
    display: flex;
    /* background-color: #fefee3; */
    justify-content: center;
}
.artContainer {
    max-width: 1200px;
    
    /* bra för att sidan inte ska åka ihop för mkt*/
    flex-wrap: wrap;
    padding:0px 30px;
    padding:0px 1.875em;
}



section {
    margin-bottom: 1.875em;
}

section ul {
    padding: 1rem;
}

/* RECEPT  */

.receptSnaps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 100%; */
}

.snap {
    flex-basis: 18.75em;
    flex-shrink: 1;
    flex-grow: 1;
    height: 18.75em;
    margin: .625em;
    padding: .625em;
    border-radius: .3em;
    flex-direction: column;
    display: flex;
    transition: 300ms;
    /* filter: grayscale(.5); */
}



.snap:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 15px;
    scale: 1.01;
    /* filter: grayscale(0); */
}

.snapTop {
    height: 70%;
    background-size: 100%;
    background-position: center;
    border-radius: .3em;
}

.snapBottom {
    padding-top: 1em;
    height: 30%;
    overflow: hidden;
}


.left {
    width: 50%;
    /* min-width: 500px; */
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 1;
    padding-right: 15px;
}

.right {
    width: 50%;
    min-width: 500px;
    padding-left: 15px;
}

.center {
    max-width: 700px;
    justify-content: center;
}

.image {
    /* height: 200px; */
    /* padding: 60px; */
    border-top: 20px solid #2c6e49;
    border-bottom: 20px solid #2c6e49;
    overflow: hidden;
    vertical-align: middle;
}

.imageSpace {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ingredients {
    padding: 30px;
    margin: 0px;
    border: 4px dotted black;
    background-color: #fefee3;
    transform: rotate(0.005turn);
}

.directions {
    padding-top: 0px;
}

ol li {
    padding-bottom: 1rem;
}


/* FOOTER */



footer {
    
    background: radial-gradient(circle, rgba(16,31,23,1) 58%, rgba(14,27,20,1) 100%);
    color: white;
}

footer > * {
    display: flex;
    place-content: center;
    justify-content: space-evenly;
    padding: 1em;
}

.col {
    max-width: 500px;
    max-width: 31.25em;
     padding: 1.56em;
 }

.imgIcon {
    filter: invert();
    width: 1em;
    height: 1em;
    margin-right: .3em;
    opacity: .7;
}

.list {
    display: flex;
    align-items: center;
}

footer li, footer p{
    list-style: none;
    font-size: 1em;
    font-weight: 200;
    line-height: 140%;
    color: white;
    opacity: .7;
}

/* .footTop ul div a li:hover

HELT specifikt, men onödvändigt

{
    opacity: 1;
    color: aqua;
} */
footer li:hover{
    opacity: 1;
}

.col h4 {
    margin-bottom: .5em;
    opacity: .7;
}





/* RESPONSIVE */

@media (max-width: 750px) {

    body {
        font-size: 90%;
    }
    nav > * {
        overflow: auto;
    }

    .artContainer {
        padding: 0 .5em;
    }
    .snap {
        flex-basis: 220px;
        height: 240px;
    }

    footer > * {
        flex-direction: column;
    }

    #ital input {
        /* width: 200px; */
    }

    .footBottom {
        align-items: center;
    }
}

@media (max-width: 500xpx) {

    body {
        font-size: 80%;
    }
    
    .snap {
        flex-basis: 140px;
        max-width: 200px;
        height: 180px;
        /* margin: 5px;
        padding: 5px;
         */
    }

    .snapTop {
        height: 60%;
    }

    .snapBottom {
        padding-top: .5rem;
        height: 40%;
    } 
}