/* 
mörkast grön #101f17
mörkgrön #2c6e49
ljusgrön #4c956c
beige #fefee3
rosa #ffc9b9
brun #d68c45 */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body {
    color: #101f17;
}

h1 {
    font-size: 55px;
    padding-bottom: 10px;
}

h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #101f17;
}

/* .border {
    border: 1px solid red;
} */

header {         
    /* background-color: #4c956c;  */
    background: linear-gradient(146deg, rgba(76,149,108,1) 0%, rgba(76,149,108,1) 65%, rgba(83,180,125,1) 100%);
    /* background: linear-gradient(141deg, rgba(76,149,108,1) 60%, rgba(83,180,125,1) 100%); */
    
}

nav {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 7px;
    position: sticky;
    top:0px;
    font-weight: 500;
    opacity: .9;
}

.topbar {
    margin:auto;
    padding:10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;

}

.flex {
    display: flex;
    justify-content: center;
}

input {
    padding: .4rem;
    border-radius: 1rem;
    border: 0;
}



nav div > * {
    display: flex;
    list-style: none;
}

nav div ul li {
    padding:0.5rem 1rem;   
    border: 1.5px solid #101f17;
    border-radius: 2rem;
}


nav div ul li:hover {
    scale: .98;
    transition: 100ms;
}
nav div ul li:not(:first-child) {
    margin-left: 1rem;
}

nav div ul li:last-child {
    margin-right: 1rem;
}

main {
    padding-bottom: 60px;
}

#ital {
    background-image: url(./resources/01-rasta-ital-cooking_4x3.webp);
    background-size: 1500px;
    background-position: center;
    height: 350px;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

#ital h1 {
    font-size: 80px;
    padding-top: 120px;
    /* font-family: 'Pacifico', cursive; */
}

#ital input {
    padding: 1rem;
    border-radius: 1.5rem;
    width: 350px;
}

.wrapper {
    display: flex;
    /* background-color: #fefee3; */
    justify-content: center;
}
.artContainer {
    max-width: 1200px;
    flex-direction: column;
    /* bra för att sidan inte ska åka ihop för mkt*/
    flex-wrap: wrap;
    padding:0px 30px;
}

section {
    margin-bottom: 30px;
    /* border: 1px solid red; */
}

section ul {
    padding: 1rem;
}

/* RECEPT  */

.receptSnaps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 100%; */
}

.snap {
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: .3rem;
    flex-direction: column;
    display: flex;
    transition: 300ms;
    /* filter: grayscale(.5); */
}



.snap:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 15px;
    scale: 1.01;
    /* filter: grayscale(0); */
}

.snapTop {
    height: 70%;
    background-size: 100%;
    background-position: center;
    border-radius: .3rem;
}

.snapBottom {
    padding-top: 1rem;
    height: 30%;
    overflow: hidden;
}


.left {
    width: 50%;
    min-width: 500px;
    padding-right: 15px;
}

.right {
    width: 50%;
    min-width: 500px;
    padding-left: 15px;
}

.center {
    max-width: 700px;
    justify-content: center;
}

.image {
    /* height: 200px; */
    /* padding: 60px; */
    border-top: 20px solid #2c6e49;
    border-bottom: 20px solid #2c6e49;
    overflow: hidden;
    vertical-align: middle;
}

.imageSpace {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ingredients {
    padding: 30px;
    margin: 0px;
    border: 4px dotted black;
    background-color: #fefee3;
    transform: rotate(0.005turn);
}

.directions {
    padding-top: 0px;
}

ol li {
    padding-bottom: 1rem;
}


/* FOOTER */



footer {
    
    background: radial-gradient(circle, rgba(16,31,23,1) 58%, rgba(14,27,20,1) 100%);
    color: white;
}

footer > * {
    display: flex;
    place-content: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.col {
    max-width: 500px;
     padding: 25px;
 }

.imgIcon {
    filter: invert();
    width: 15px;
    height: 15px;
    margin-right: 5px;
    opacity: .7;
}

.list {
    display: flex;
    align-items: center;
}

footer li, footer p{
    list-style: none;
    font-size: 1rem;
    font-weight: 200;
    line-height: 140%;
    color: white;
    opacity: .7;
}

/* .footTop ul div a li:hover

HELT specifikt, men onödvändigt

{
    opacity: 1;
    color: aqua;
} */
footer li:hover{
    opacity: 1;
}

.col h4 {
    margin-bottom: .5rem;
    opacity: .7;
}





/* RESPONSIVE */

@media (max-width: 750px) {
    nav > * {
        overflow: auto;
    }


    footer > * {
        flex-direction: column;
    }

    #ital input {
        width: 200px;
    }

    #ital h1{
        font-size: 60px;
    }

    .footBottom {
        align-items: center;
    }
}